[*.cs]

dotnet_diagnostic.CS0649.severity = none
dotnet_diagnostic.CA1416.severity = none
dotnet_diagnostic.CS8600.severity = none
dotnet_diagnostic.CS8602.severity = none
dotnet_diagnostic.CS8603.severity = none
dotnet_diagnostic.CS8604.severity = none
dotnet_diagnostic.CS8618.severity = none
dotnet_diagnostic.CS8619.severity = none
dotnet_diagnostic.CS8620.severity = none
dotnet_diagnostic.TS6385.severity = none
dotnet_diagnostic.TS6387.severity = none