@{
    Layout = "_Layout";
}
<div class="m-auto p-5 text-center w-75 bg-dark text-white" id="bilgiler">
    <div class="row">
        <hr />
        <div class="col-6">Tam Ad:</div><div class="col-6">@UserController.Ad</div>
        <hr />
        <div class="col-6">Email:</div><div class="col-6">@UserController.Email</div>
        <hr />
        <div class="col-6">Toplam Mesaj:</div><div class="col-6">@UserController.ToplamMesaj</div>
        <hr />
    </div>
</div>