@{
    Layout = "_Layout";
}

<div class="card-3d-wrap mx-auto">
    <div class="card-3d-wrapper">
        <div class="card-front d-flex align-items-center justify-content-center">
            <div class="loader d-none"></div>
            <div class="center-wrap">
                <div class="section text-center">
                    <h4 class="mb-4 pb-3">Hesabınıza Kayıtlı E-Mail Adresinizi Giriniz</h4>
                    <form action="@Url.Action("ResetPassword_","ChatApp")" method="post" id="reset">
                        <div class="form-group">
                            <input type="email" name="resetEmail" class="form-style" placeholder="Email" id="logemail" autocomplete="off">
                            <i class="input-icon uil uil-at"></i>
                        </div>
                        <button type="submit" class="btn mt-4">GÖNDER</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>